@font-face {
    font-family: Argesta;
    src: url(argestadisplay-regular-webfont.ttf);
}

@font-face {
    font-family: North;
    src: url(North\ Carossela.otf);
}

div {
    font-family: Argesta;
    font-size: 18px;
}

body {
    padding: 2em;
    background-color: white;
}

h1 {
    font-family: North, sans-serif;
    text-align: center;
    font-size: 60px;
    border: 5px;
    border-color: #1f2091;
    border-style: solid;
    border-radius: 60px;
    padding: 50px;
}

a {
    font-size: 22px;
    font-weight: 800;
    color: black;
    text-decoration: none;
}
  
  a:hover {
    color: #0373fc;
}

li {
    list-style-type: none;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
}

h4 {
    font-size: 12px;
}

